* {
  color: #C5B085;
  font-family: 'ArcaMajora3';
  margin: 0.01px;
}

h5{
  color: #66DCBB;
}

p {
  letter-spacing: 1px;
  line-height: 25px;
  font-family: Helvetica Neue;

}

.strong {
  color: #66DCBB;
  display: inline-block;
}

strong {
  color: #66DCBB;
}
.helvetica_p2 {
  font-family: Helvetica Neue;
}

.citat {
  font-family: Helvetica;
  display: inline-block;
}
@font-face {
  font-family: 'ArcaMajora3'; /*a name to be used later*/
  src: url('../../ArcaMajora3/Webfonts/ArcaMajora3-Bold.woff2'); /*URL to font*/
}
/*COLORS

#66DCBB  GREEN
#C5B085  GOLD

*/

.fp-controlArrow.fp-next,
.fp-controlArrow.fp-prev {
  border-color: #C5B085;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

/*HIDE NAVBAR/CONTROLARROW ON A SPECIFIC INDEX*/
body.fp-viewing-5-0 .fp-slidesNav.bottom,
body.fp-viewing-5-1 .fp-slidesNav.bottom {
  display:none;
}
/*body.fp-viewing-3-0 .fp-controlArrow.fp-next {
  display: none!important;
}*/
/*HAMBURGER MENU*/
.positionFixed {
  position: fixed;
  margin: auto;
  z-index: 1;
}

a {
  text-decoration: none;
  color: #373737;
  letter-spacing: 5px;
  font-size: 22px;
  transition: color 0.3s ease;
}

#menuToggle {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 1; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}
/* Just a quick hamburger */
#menuToggle span {
  display: block;
  width: 32px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: #C5B085;
  border-radius: 0px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* Transform all the slices of hamburger into a crossmark.*/
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(34deg) translate(-2px, -1px);
  background: #66DCBB;
}

/* But let's hide the middle one.*/
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/* Ohyeah and the last one should go the other direction */
#menuToggle input:checked ~ span:nth-last-child(2) {
  opacity: 1;
  transform: rotate(-34deg) translate(0, -1px);
}

/* Make this absolute positioned at the top left of the screen */
#menu {
  position: fixed;
  width: 30vw;
  height: 110vh;
  margin: -100px 0 0 0;
  padding-top: 200px;
  padding-left: 0px;
  right: 0px;
  text-align: center;
  background: #121212;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: all 0.3s cubic-bezier(0.77,0.2,0.05,1.0);
}

.payforChange {
  color: #66DCBB;
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
  width: 100%;
}

/* And let's fade it in from the left */
#menuToggle input:checked ~ ul {
  transform: scale(1.0, 1.0);
  opacity: 1;
}

input:hover {
  background-color: black;
}

/*TOP LEFT CORNER LOGO */
.topleftCornerLogo {
  background-image: url(../../../../design/Logotype_symbols/Thrive_logo_symbol_neonmint.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: fixed;
  top: 20px;
  left: 20px;
  height: 33px;
  width: 32px;
  z-index: 1;

}
.topleftCornerLogo:hover {
  background-image: url(../../../../design/Logotype_symbols/Thrive_logo_symbol_blackforest.svg);
}

/*SCROLL INDICATOR*/
.bottomIndicator {
  position: absolute;
  bottom: 5vh;
  left: 50%;
  z-index: 2;
  transform: translateX(-50%);
}

.scroll-indicator {
  width: 2px;
  height: 10vh;
  background-color: rgba(0, 0, 0, 0.68);
  overflow: hidden;
}

.scroll-indicator > .inner {
  background-color: #66DCBB;
  animation: scroll-indicator-animation 1.2s infinite cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

@keyframes scroll-indicator-animation {
  0% {
    transform: translateY(0);
    height: 0;
  }
  100% {
    transform: translateY(100%);
    height: 100%;
  }
}

/*FADING PICTURES IN START PAGE*/
.jumbotron.start.text-center, .jumbotron.start.text-center-page2, .jumbotron.start.text-center-page3 {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  background-image: url('../../../../images/landingpage_mobile/mobile_01.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  animation-name: fade;
  animation-duration: 18s;
  animation-iteration-count: infinite;
  z-index: 0;
  transition: 0.2s ease-out;
}
.jumbotron.start.text-center-page2 {
  background-image: url('../../../../images/landingpage_mobile/mobile_02.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  animation-name: fade2;
}
.jumbotron.start.text-center-page3 {
  background-image: url('../../../../images/landingpage_mobile/mobile_03.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  animation-name: fade3;
}
@keyframes fade
{
  0%   {opacity:1}
  33.333% { opacity: 0}
  66.666% { opacity: 0}
  100% { opacity: 1}
}
@keyframes fade2
{
  0%   {opacity:0}
  33.333% { opacity: 1}
  66.666% { opacity: 0 }
  100% { opacity: 0}
}
@keyframes fade3
{
  0%   {opacity:0}
  33.333% { opacity: 0}
  66.666% { opacity: 1}
  100% { opacity: 0}
}

/*THRIVE LOGO TEXT FIRST PAGE*/
.thrivelogoText {
  position: relative;
  display: flex;
  background-image: url(../../../../design/Logotype_symbols/Thrive_logo_gold.svg);
  background-repeat: no-repeat;
  background-size: contain;
  align-self: center;
  margin: 0 auto;
  height: 45px;
  width: 289px;
  z-index: 1;
  transition: 0.8s ease-out;
}

.payforChangeBoxMain h5{
  color: #66DCBB;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding-top: 3vh;
  z-index: 1;
  font-size: 3.5vh;
  font-family: 'ArcaMajora3' normal;
  letter-spacing: 5px;
}

/* PAGE 2*/
.bgpageBlack {
  margin-top: 0.01px;
  background-color: rgba(18, 17, 17, 0.7);
  width: 61vw;
  height: 100vh;
  padding-top: 15vh;
}

.bgpageTwo {
  background-image: url(../../../../images/landingpage_desktop/core_girl.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  padding-top: 0.1px;
  z-index: 1;

}

.thrivelogoText_p2 {
  background-image: url(../../../../design/Logotype_symbols/Thrive_logo_gold.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: 0 auto;
  height: 10vh;
  width: 80vw;
  margin-left: 10vw;
  z-index: 1;
  transition: 0.8s ease-out;
}

.main_landingpageText {
  width: 44vw;
  height: 50vh;
  padding-top: 5vh;
  margin: 0;
  font-family: "Helvetica Neue";
  text-align: left;
  line-height: 30px;
  transition: 0.8s ease-out;
}

.wraplogo_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

/*PAGE 3*/
.textPageThree {
  font-family: "ArcaMajora3";
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 5px;
  line-height: 50px;
  margin-bottom: 0px;
}

.textPageThreeSmall {
  font-family: "ArcaMajora3";
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 5px;
  line-height: 50px;
}

.wrapperPage_3 {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  text-align: center;
  margin-bottom: 0px;
}

.peta_logo {
  background-image: url(../../../../design/Logotype_symbols/Peta_logo.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 16vh;
  width: 100vw;
  margin: 22px 0px 20px;
}

/*SLIDE PAGES 4*/
.water_logo {
  background-image: url(../../../../design/Logotype_symbols/Water_symbol_gold_thin.svg);
}
.wind_logo {
  background-image: url(../../../../design/Logotype_symbols/Wind_symbol_gold_thin.svg);
}
.fire_logo {
  background-image: url(../../../../design/Logotype_symbols/Fire_symbol_gold_thin.svg);
}

.fire_logo, .wind_logo, .water_logo {
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  opacity: 0.2;
  height: 80vh;
  width: 80vw;
  text-align: left;
}

.slide_pageText {
  position: relative;
  display: flex;
  font-size: 16px;
  margin: 0 auto;
  padding-top: 5vh;
  text-align: left;
  width: 30vw;
}

.headerBox, h1{
  transition: 1s ease-out;
  display: inline-block;

}

.textWrapper {
  position: absolute;
  width: 80vw;
  text-align: center;
}

.wrapperPage_4 {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-bottom: 20vh;
  letter-spacing: 5px;
}

/*PAGE 5*/
.bgpageFive {
  background-image: url(../../../../images/landingpage_mobile/cirkus.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

.bgpageBlackRight {
  background-color: rgba(18, 17, 17, 0.7);
  margin-left: 39vw;
  height: 100vh;
}

.main_landingpageTextPage5 {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  font-family: 'ArcaMajora3';
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 4px;
  line-height: 45px;
  text-align: center;
  padding-top: 17vh;
}

.small_h6_page5{
  font-size: 22px;
  display: inline-block;
  letter-spacing: 4px;
  font-weight: bold;
}

.h1_big_page5 {
  color: #66DCBB;
  font-size: 30px;
  line-height: 45px;
  letter-spacing: 4px;
  font-weight: bold;
}

/*SCROLL INDICATOR FOR PAGE 5*/
.bottomPageFive {
  position: absolute;
  bottom: 100px;
  right: 22vw;
  height: 25vh;
  z-index: 2;
  transform: translateX(-50%);
}

.scroll-indicatorPageFive {
  width: 2px;
  height: 249px;
  background-color: rgba(0, 0, 0, 0.68);
  overflow: hidden;
}

.scroll-indicatorPageFive > .inner {
  background-color: #66DCBB;
  animation: scroll-indicator-animation 1.2s infinite cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

/*PAGE 6 SLIDE 1*/
.small_h6 {
  font-size: 15px;
  display: inline-block;
}

.wrapperPageText_6 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  font-family: "ArcaMajora3";
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 4px;
  height: 60vh;
  width: 80vw;
}

.h1_big {
  font-size: 35px;
  color: #C5B085;
  line-height: 50px;
}

.wrapperPage_6 {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.payforChangeBoxPage6 {
  position: absolute;
  bottom: 20vh;
  color: #66DCBB;
  font-family: "ArcaMajora3";
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 5px;
}

.bottomIndicator_horizontal {
  position: absolute;
  bottom: 17vh;
  left: 25%;
  z-index: 2;
  transform: translateX(-50%);
}

.scroll-indicator-horizontal {
  width: 150px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.68);
  overflow: hidden;
}

.scroll-indicator-horizontal > .inner {
  background-color: #66DCBB;
  animation: scroll-indicator-animation-horizontal 1.2s infinite ease-out;
}

@keyframes scroll-indicator-animation-horizontal {
  0% {
    transform: translateX(-100%);
    height: -100%;
  }
  100% {
    transform: translateX(100%);
    height: 100%;
  }
}

/*SLIDE 2*/
.wrapperPage_6Slide2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.shop_background {
  background-image: url(../../../../images/landingpage_mobile/mobile_shop.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.thrivelogoTextp6 {
  position: absolute;
  background-image: url(../../../../design/Logotype_symbols/Thrive_logo_gold.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 10vh;
  width: 80vw;
}

.white_h1 {
  color: white;
}

.rectangleLeft,
.rectangleRight {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  height: 10vh;
  width: 45vw;
  background-color: rgba(16,224,185,0.7);
  color: #FFFFFF;
  font-family: "Arca Majora 3";
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 5px;
}

.rectangleLeft {
  position: absolute;
  margin-top: 20vh;
}

.rectangleRight {
  position: absolute;
  margin-top: 80vh;
  right: 0.01px;
}

.rectangleLeft:hover,
.rectangleRight:hover {
  background-color: rgba(18,17,17,0.6);
}

/*MEDIA FOR PAGE 1 AND HAMBURGER MENU*/
@media screen and (max-width: 768px) {
  #menu {
    width: 100vw;
  }
}
@media screen and (min-width: 768px) {
  .jumbotron.start.text-center {
    background-image: url(../../../../images/landingpage_desktop/Desktop_photo_tjej_lund.png);
  }
  .jumbotron.start.text-center-page2 {
    background-image: url(../../../../images/landingpage_desktop/Desktop_photo_kille_sv.png);
  }
  .jumbotron.start.text-center-page3 {
    background-image: url(../../../../images/landingpage_desktop/Desktop_photo_tjej_berlin_sv.png);
  }
}
@media screen and (min-width: 737px) {
  .thrivelogoText {
    height: 90px;
    width: 578px;
  }
}

/*MEDIA FOR PAGE 2*/
@media screen and (max-width: 320px) {
  .main_landingpageText {
    padding-left: 30vw;
    width: 70vw;
  }
}
@media screen and (min-width: 370px) {
  .main_landingpageText {
    padding-left: 15px;
  }
}
@media screen and (max-width: 599px) {
  .main_landingpageText {
    font-size: 14px;
  }
}
@media screen and (min-width: 737px) {
  .thrivelogoText_p2 {
    height: 10vh;
  }
}
@media screen and (min-width: 1024px) {
  .main_landingpageText {
    padding-top: 10%;
    padding-left: 50vw
  }
  .bgpageBlack {
    padding-top: 15vh;
  }
}

/*MEDIA FOR PAGE 4*/
@media screen and (min-width: 737px) {
  .slide_pageText {
    max-width: 100vw;
  }
}

@media screen and (max-width: 414px) {
  .headerBox, h1 {
    font-size: 25px;
    display: inline;
  }
  .slide_pageText {
    width: 66vw;
    height: 10vh;
    padding-top: 1vh;
  }
}

/*MEDIA FOR PAGE 5*/
@media screen and (max-width:320px) {
  .scroll-indicatorPageFive {
    height: 150px;
  }
  .bottomPageFive {
    height: 15vh;
  }
}
@media screen and (min-width: 768px) {
  .bgpageFive {
    background-image: url(../../../../images/landingpage_desktop/cirkus_desk.png);
  }
  .bgpageBlackRight {
    margin-left: 55vw;
  }
}

/*MEDIA FOR PAGE 6*/
@media screen and (min-width: 1024px) {
  .shop_background {
    background-image: url(../../../../images/landingpage_desktop/Shop_desk.png);
  }
  .rectangleLeft {
    margin-top: 70vh;
  }
}
@media screen and (min-width: 768px) {
  .rectangleRight {
    margin-top: 70vh;
  }
}
@media screen and (min-width: 1399px) {
  .rectangleRight,
  .rectangleLeft {
    width: 20vw;
    height: 15vh;
  }
}
